.cell > span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: rgb(0, 55, 206);
}

.cursor {
    box-sizing: border-box;
    border: 2px solid #c8052f;

}

.comic {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.sans {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fun {
    font-family: 'Galindo', cursive;
}

.mono {
    font-family: 'IBM Plex Mono', monospace;
}

.snake {
    border: 2px solid indigo;
    box-sizing: border-box;
}

.serif {
    font-family: 'Baskervville', serif;
}

.snakehead {
  background-color: indigo;
}

.circle {
  border-radius: 50%;
}

.rotate {
	animation: clock 200ms linear infinite 0s;
	-ms-animation: clock 200ms linear infinite 0s;
	-webkit-animation: clock 200ms linear infinite 0s;

	overflow: hidden;

}


@-moz-keyframes clock{
	0% { opacity: 1; }
	50% { opacity: 1; -moz-transform: rotate(-180deg); }

}
@-webkit-keyframes clock{
	0% { opacity: 1; }
	50% { opacity: 1; -webkit-transform: rotate(-180deg); }
}
@-ms-keyframes clock{
	0% { opacity: 1; -ms-transform: rotate(-180deg); }
	50% { opacity: 1; -ms-transform: rotate(-180deg); }

}

