.cell {
    height: 25px;
    width: 25px;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:nth-child(even) {
    border-right: 1px dashed #ffa600;
}

.cell:nth-child(odd) {
    border-right: 1px dashed #c8052f;
}


.cell:first-child {
    border-left: 1px dashed #ffa600;
}

.row {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px dashed rgb(0, 55, 206);
}

.row:last-of-type {
    border-bottom: 2px solid #c8052f;
}