.cell {
    height: 25px;
    width: 25px;
    /* box-sizing: border-box; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color:#ffd2ae;
    cursor: default;
}

.cell > span {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    color: rgb(0, 55, 206);
}


.cell:nth-child(even) {
    border-right: 1px dashed #ffa600;
}

.cell:nth-child(odd) {
    border-right: 1px dashed #c8052f;
}


.cell:first-child {
    border-left: 1px dashed #ffa600;
}

.row {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: 1px dashed rgb(0, 55, 206);
}

